:root {
  --clr-body: hsla(0, 0%, 20%, 0.9);
  --clr-text-hsl: 0 0% 6%;
  --clr-text: hsla(0, 0%, 7%, 0.8);

  --clr-primary: hsl(243, 23%, 32%);
  --clr-secondary: hsl(204, 95%, 91%);
  --clr-tertiary-h: 44;
  --clr-tertiary-s: 77%;
  --clr-tertiary-l: 70%;
  --clr-tertiary: hsl(
    var(--clr-tertiary-h),
    var(--clr-tertiary-s),
    var(--clr-tertiary-l)
  );
  --clr-accent-h: 0;
  --clr-accent-s: 54%;
  --clr-accent-l: 55%;
  --clr-accent-a: 1;
  --clr-accent: hsla(
    var(--clr-accent-h) var(--clr-accent-s) var(--clr-accent-l) /
      var(--clr-accent-a)
  );

  --bg-body-h: 206;
  --bg-body-s: 90%;
  --bg-body-l: 75%;
  --bg-body: hsl(var(--bg-body-h), var(--bg-body-s), var(--bg-body-l));
  --bg-body-secondary-h: 204;
  --bg-body-secondary-s: 95%;
  --bg-body-secondary-l: 91%;
  --bg-body-secondary: hsl(
    var(--bg-body-secondary-h),
    var(--bg-body-secondary-s),
    var(--bg-body-secondary-l)
  );
  --bg-body-tertiary-h: 243;
  --bg-body-tertiary-s: 23%;
  --bg-body-tertiary-l: 32%;
  --bg-body-tertiary: hsl(
    var(--bg-body-tertiary-h),
    var(--bg-body-tertiary-s),
    var(--bg-body-tertiary-l)
  );

  --fs-xl: clamp(32px, 4vw + 1rem, 48px);
  --fs-1000: 5rem;
  --fs-800: 3rem;
  --fs-600: 2rem;
  --fs-400: 1rem;
  --fs-300: 0.9rem;
  --fs-200: 0.75rem;
  --fs-100: 0.5rem;
  --fw-thin: 300;
  --fw-bold: 800;

  --surface: transparent;
  --on-surface: var(--clr-text);

  --content-width: 56ch;
  line-height: 1.6;
}

::selection {
  background: var(--clr-secondary);
  -webkit-text-fill-color: initial;
}

.bg:not(.text) {
  color: var(--text, var(--clr-body));
}

.bg-primary {
  --surface: var(--clr-primary, var(--bg-body));
  --on-surface: var(--clr-text);
  background: var(--surface);
}

.bg-primary:not(.text) {
  color: var(--bg-body);
}

.bg-secondary {
  --surface: var(--bg-body-secondary);
  background: var(--surface);
}

.bg-tertiary {
  --surface: var(--clr-tertiary);
  background: var(--surface);
}

.bg-tertiary input {
  background-color: hsl(
    var(--clr-tertiary-h),
    var(--clr-tertiary-s),
    calc(var(--clr-tertiary-l) - 30%)
  );
}

.bg-accent {
  background: var(--clr-accent, var(--bg-body));
}

.bg-accent:not(.text) {
  color: var(--bg-body);
}

.text {
  color: var(--text, var(--clr-body));

  &.primary {
    --text: var(--clr-body);
  }

  &.secondary {
    --text: var(--clr-text);
  }

  &.accent {
    --text: var(--clr-accent);
  }

  &.xs {
    font-size: var(--fs-100);
  }
  &.sm {
    font-size: var(--fs-200);
  }
  &.md {
    font-size: var(--fs-300);
  }
  &.lg {
    font-size: var(--fs-600);
  }
  &.xl {
    font-size: var(--fs-800);
  }
  &.xxl {
    font-size: var(--fs-1000);
  }
  &.align-center {
    text-align: center;
  }
  &.thin {
    font-weight: var(--fw-thin);
  }
}

.color-inherit {
  color: inherit;
}

.flex {
  display: flex;
  
  & .flex-1 {
    flex: 1;
  }

  &.align-center {
    align-items: center;
  }
  &.gap-2 {
    gap: 2rem;
  }
  &.justify-end {
    justify-content: flex-end;
  }
}

.font-tertiary {
  font-family: var(--font-tertiary);
}

.grey {
  filter: grayscale(100%);
}

body {
  font-family: var(--font-primary);
  font-size: 18px;
  color: var(--clr-body);
  background-color: var(--bg-body);
  background-image: linear-gradient(to bottom, var(--clr-secondary) 0%, var(--bg-body) 400px);
  overflow-x: hidden;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea {
  --input-bg: white;
  --input-focus-outline: hsla(0, 0%, 0%, 0.2);
  padding: 1rem 0.8rem;
  border: none;
  border-radius: 0.9em;
  width: 100%;
}
input:focus {
  outline: none;
  box-shadow: 0px 0px 2px 4px var(--input-focus-outline);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  display: grid;
  place-items: center;
}
button,
input[type="button"],
input[type="submit"],
.button {
  --btn-bg: transparent;
  --btn-bg-hover-mix: white;
  --btn-bg-hover: color-mix(in hsl, var(--btn-bg) 80%, var(--btn-bg-hover-mix));
  --btn-clr: currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem 1rem;
  height: 3rem;
  min-width: 8rem;
  border: 2px solid var(--btn-clr);
  background: var(--btn-bg);
  border-radius: 2rem;
  color: var(--btn-clr);

  & + & {
    margin-inline-start: 1ch;
  }
  &:not([disabled]):hover {
    background-color: var(--btn-bg-hover);
    cursor: pointer;
  }
  &[disabled] {
    opacity: 0.75;
  }
}
button[type="submit"],
input[type="submit"],
button.submit,
.button.submit {
  --btn-bg: #2185d0;
  --btn-bg-hover-mix: black;
  --btn-clr: white;
  border-color: var(--btn-bg);
  &:hover {
    border-color: var(--btn-bg-hover);
  }
}
button[type="reset"],
button.reset,
.button.reset {
  border: none;
  min-width: unset;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
label {
  display: block;
}
label span {
  font-weight: 700;
}
label:not(:has(input + span)) {
  padding-block-end: 29px;
}

:is(h1, h2, h3, h4, h5, p, label) {
  margin-block-end: min(1em, 1rem);
}

:is(h1, h2, h3, h4, h5) {
  --text: var(--clr-text);
  color: var(--text);
  font-family: var(--font-secondary);
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-xl);
  line-height: 1.2;
  letter-spacing: -1px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  --text: var(--clr-accent);
  color: var(--text);
  text-decoration: none;
}

.media {
  display: flex;
  align-items: center;
}
.heading {
  --heading-fs: var(--fs-xl);
}
.subheading {
  font-weight: var(--fw-bold);
  font-family: var(--font-secondary);
  font-size: calc(var(--heading-fs) / 2);
}

.details {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.details > .half {
  grid-column: span 4;
}
.details > .center {
  grid-column: 2 / -2;
  width: max-content;
  margin-inline: auto;
}
main,
.main {
  width: min(100%, var(--content-width));
  margin-inline: auto;
  border-inline: 1px dashed
    hsl(var(--bg-body-h) var(--bg-body-s) calc(var(--bg-body-l) - 30%) / 0.5);
}
main {
  min-height: 100vh;
}

article {
  min-height: inherit;
  padding-bottom: 2rem;
}

section:first-of-type {
  margin-block-start: 0;
  padding-block-start: 0;
}
section {
  padding-block: 3rem;
  padding-inline: 1rem;
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}

section > * {
  grid-column: 1 / -1;
}

.hero {
  row-gap: 0;
}

.hero-img {
  --bg-split: 75%;
  position: relative;
  aspect-ratio: 1.5 / 1;
  margin-inline: -1rem;
  background-image: linear-gradient(
    to bottom,
    var(--bg-body-secondary),
    var(--bg-body-secondary) var(--bg-split),
    var(--bg-body) var(--bg-split),
    var(--bg-body)
  );
}
.hero::before {
  content: "";
  display: block;
  height: 20vh;
  background-color: var(--bg-body-secondary);
  margin-inline: -1rem;
}

.padding {
  min-height: 10vh;
  background-color: var(--bg-body-secondary);
}

.slots {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-items: center;
}

.slot-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  justify-content: space-between;
  padding: 1rem;
  aspect-ratio: 16 / 9;
  border-radius: 32px;
  border-inline: 1px solid color-mix(in lab, var(--surface), white 60%);
  box-shadow: 0px 0px 24px color-mix(in hsl, var(--surface), black 40%);
}
.slot-time {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

.text.info {
  color: color-mix(in hsl, var(--clr-text) 80%, var(--bg-body-secondary));
}

@media (width <= 667px) {
  .details > .center {
    grid-column: 1 / -1;
  }
}
