body > .footer {
  position: relative;
  --clr-text: var(--bg-body-tertiary);
  background-color: var(--bg-body-tertiary);
  border-block-start: 1px solid
    color-mix(in lab, var(--bg-body-secondary) 86%, hsl(0, 0%, 100%));
}
body > .footer .main {
  height: 300px;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  color: color-mix(in lab, var(--bg-body), white 80%);
}

.withLove h3 {
  margin: 0;
  --clr-text: var(--clr-tertiary);
}
.withLove span {
  font-size: 12px;
}

.blueyDancing {
  position: absolute;
  transform: translate(-140px, -279px);
}
