.imageWrapper {
  --shadow-size: 1rem;
  margin-block: calc(var(--shadow-size) * 2);
  position: relative;
  aspect-ratio: 2 / 1;
  border-radius: 32px;
  overflow: hidden;
  border-block-start: 1px solid;
  border-block-end: none;
  border-inline: 1px solid;
  border-color: color-mix(in lab, var(--bg-body) 74%, white);
  box-shadow: 0 0 var(--shadow-size) rgba(0, 0, 0, 0.220);
}

.wishlist .wrapper {
  width: 80%;
  margin-inline: auto;
}

.wishlist .collect {
  display: flex;
  justify-content: center;
}