.list {
  --picture-size: 5rem;
  list-style: none;
}
.list > li:not(:last-child) {
  margin-bottom: 2rem;
}

.wishlistForm {
  padding: 1rem;
  padding-block-end: 0;
}
.actions {
  display: flex;
  justify-content: flex-end;
}

.wishlistForm .success {
  display: grid;
  gap: 1rem;
  margin-block-start: -6rem;
  place-items: center;
}

.wishlistForm .success span {
  font-size: 2rem;
  font-weight: bold;
}
.wishlistForm .success .emoji {
  --emoji-size: 6rem;
  background-color: color-mix(in lab, var(--clr-tertiary) 80%, white);
  box-shadow: 0px 0px 16px 8px rgba(0,0,0,0.5);
  font-size: var(--emoji-size);
  border-radius: var(--emoji-size);
  line-height: 1;
  aspect-ratio: 1 / 1;
  display: grid;
  padding: 1.6rem;
  place-items: center;
}

.claim {
  display: grid;
  margin-block-end: 1rem;
}
a.swish {
  --text: var(--clr-text);
  place-self: center;
  padding: 0.2rem 1rem;
  border: 1px solid currentColor;
  border-radius: 1rem;
  text-align: center;
}

.imageWrapper {
  --shadow-size: 1rem;
  width: 80%;
  margin-inline: auto;
  margin-block: calc(var(--shadow-size) * 2);
  position: relative;
  aspect-ratio: 2 / 1;
  border-radius: 32px;
  overflow: hidden;
  border: 1px solid color-mix(in lab, var(--bg-body) 74%, white);
  border-block-end: none;
  box-shadow: 0 0 var(--shadow-size) rgba(0, 0, 0, 0.220);
}
